@import url("https://fonts.googleapis.com/css2?family=Sanchez&display=swap");

* {
    box-sizing: border-box;
}

body {
    background: #28223f;
    font-family: Sanchez, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

h3 {
    margin: 10px 0;
}

h6 {
    margin: 5px 0;
    text-transform: uppercase;
}

p {
    font-size: 14px;
    line-height: 21px;
}

.card-container {
    background-color: #231e39;
    border-radius: 5px;
    box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.75);
    color: #b3b8cd;
    padding-top: 30px;
    position: relative;
    width: 350px;
    max-width: 100%;
    text-align: center;
}

.card-container:hover{
    box-shadow: 0 20px 30px -10px rgba(0, 0, 0, 0.75);
}

.card-container .pro {
    color: #231e39;
    background-color: #febb0b;
    border-radius: 3px;
    font-size: 14px;
    font-weight: bold;
    padding: 3px 7px;
    position: absolute;
    top: 30px;
    left: 30px;
}

.card-container .round{
    background-color: #03BFCB;
    border: 1px solid #03BFCB;
    border-radius: 50%;
    width: 50%;
    height: 50%;
}

button.primary{
    background-color: #03BFCB;
    border: 1px solid #03BFCB;
    border-radius: 3px;
    color: #231E39;
    font-family: Sanchez, sans-serif;
    font-weight: 800;
    padding: 10px 25px;
    margin-bottom: 5px;
    width: 100%;
}